<!DOCTYPE html>
<html>
	<head>
		<title>Journal</title>
		<!-- <link rel="stylesheet" type="text/css" href="/css/normalize.css"> -->
	</head>
	<body>
		<div id="root"></div>
	</body>
	<script type="text/javascript" src="/js/bundle.js"></script>
</html>