h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-bottom: 3%;
}

img {
	width: 15%;
	height: 15%;
	padding-left: 5px;
	padding-bottom: 5%;

	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

p {
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Open Sans', sans-serif;
  line-height: 175%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ee6bcc;
}